#app {
  background-image: linear-gradient(
    to right, 
    #e8dcb5 50%, 
    #efead0 0%
  );
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image {
  height: 100vh;
  width: auto;
}
#wheel {
  position: absolute;
  transition: all 1s;
}

@media (orientation: portrait) {
  #app {
    background-image: linear-gradient(
      to right, 
      #e8dcb5, 
      #efead0
    );
  }
  .image {
    width: 100vw;
    height: auto;
  }
}