#app {
  background-color: var(--theme);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image {
  height: 100vh;
  width: auto;
}
#wheel {
  position: absolute;
  transform: rotate(-30deg);
}